<div class="blog-post">
    <%@articles.each do |article|%>
      <h3 ><%=article.name%></h3>
      <p class="blog-post-meta">
      	<small>发布时间:</small> 
      	<%=article.created_at.strftime('%Y-%m-%d %H:%M')%>
      </p>
      <p><%= raw article.content%></p>
    <%end%>
</div>
<nav>
  <%= will_paginate @articles,:previous_label=>'上一页',:next_label=>'下一页',renderer: BootstrapPagination::Rails%>
</nav>
