<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>好博文</title>
	<link rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<script src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js'></script>
	<script src='http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
</head>
<body>
	<div class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">好博文</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
        </div>
      </div>
    </div>
<div class='container'>
	<%= bootstrap_flash %>
<%=form_tag login_users_path, :method=>:post,:html => { :class => "form-signin",:role=>'form' } do  %>
  <div class="form-group">
    <label for="username">用户名:</label>
    <%=text_field_tag :name ,nil,class: "form-control",placeholder:'请输入用户名'%>
  </div>
  <div class="form-group">
    <label for="password">密码:</label>
    <%=password_field_tag :password,nil,class: "form-control",:placeholder=>'请输入密码'%>
  </div>
  <div class='checkbox'>
	<label>
	<input type='checkbox' value='remember-me'> 记住登录状态
	</label>
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
<%end%>
 <footer>
        <p>&copy; Company 2015</p>
      </footer>
</div>
</body>
</html>