<div class="box">
	<div class="heading"><h2>简介</h2></div>
	<div class="content">
		<a href="#" target="_blank"><img class='img-circle' src="http://tp2.sinaimg.cn/3210760613/180/40031509080/1" width='60' height='60'/></a>
		<p>ruby on rails开发项目中的点滴记录...</p>
		<br>
		<!-- <h4>联系方式:</h4> -->
		<address>
		  <abbr title="Phone">Githup地址:</abbr>
		  <strong>
		  	<a href="https://github.com/azhq/sobao">sobao</a>
		  </strong><br>
		  <abbr title="Phone">mail:</abbr> sohotter@163.com<br>
		  <abbr title="Phone">QQ:</abbr><a target=blank href=tencent://message/?uin=1316809699&Site=好博文&Menu=yes>1316809699</a>
		</address>
	</div>
</div>