<div class="sidebar-module sidebar-module-inset">
	<h4><strong>简介</strong></h4>
	<p>ruby on rails开发项目<br>中的点滴记录</p>
	<address>
	  <abbr title="Phone">githup:</abbr>
	  <strong>
	  	<a href="https://github.com/azhq/sobao">sobao</a>
	  </strong><br>
	  <abbr title="Phone">mail:</abbr> sohotter@163.com<br>
	  <abbr title="Phone">QQ:</abbr><a target=blank href=tencent://message/?uin=1316809699&Site=好博文&Menu=yes>1316809699</a>
	</address>
</div>