<div class="box">
	<div class="heading"><h2>学习网站</h2></div>
	<div class="content">
		<div class="post">
			<!-- <img src="images/img4.jpg" width="50px"/> -->
			<h4><a href="https://github.com/">GitHub</a></h4>
		</div>
		<div class="post">
			<!-- <img src="images/img5.jpg" width="50px"/> -->
			<h4><a href="https://ruby-china.org/">Ruby China</a></h4>
		</div>
		<div class="post">
			<!-- <img src="images/img1.jpg" width="50px"/> -->
			<h4><a href="http://guides.ruby.tw/rails3/index.html">RailsGuides</a></h4>
		</div>
	</div>
</div>