<div class="menu">
	<ul>
		<li><%=link_to '首页',root_url%></li>
		<li><%=link_to '文章',root_url%></li>
		<li><a href="#">生活AC</a></li>
		<li><a href="#">关于</a></li>
		<li><a href="#">联系</a></li>
	</ul>
</div>